::-moz-selection {
  background-color: #719FBF;
  color: white;
}

::selection {
  background-color: #719FBF;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-y: scroll;
  height: 98%;
  width: 100%;
}

body {
  background-color: #E7E7E9;
  background-image: -ms-radial-gradient(center, circle farthest-corner, #E5E5E5 0%, #E7E7E9 100%);
  background-image: -moz-radial-gradient(center, circle farthest-corner, #E5E5E5 0%, #E7E7E9 100%);
  background-image: -o-radial-gradient(center, circle farthest-corner, #E5E5E5 0%, #E7E7E9 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #E5E5E5), color-stop(1, #E7E7E9));
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #E5E5E5 0%, #E7E7E9 100%);
  background-image: radial-gradient(circle farthest-corner at center, #E5E5E5 0%, #E7E7E9 100%);
  color: #4A4A4A;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 55px;
  line-height: 72px;
}

h2 {
  font-size: 44px;
  line-height: 60px;
}

img {
  border: none;
}

a {
  color: #1D668C;
  text-decoration: none;
  transition: color 180ms;
  -webkit-transition: color 180ms;
}

a:hover {
  color: #2A92C9;
}

#ltCircle {
  border: 10px solid #292929;
  border-radius: 100px;
  box-shadow: 0 0 17px rgba(0,0,0,.60);
  display: block;
  height: 150px;
  margin: 14px auto 0;
  width: 150px;
  z-index: 10;
}

#ltCircle span {
  color: #000000;
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 156px;
  text-align: center;
  text-shadow: 0 0 3px rgba(255,255,255,.75);
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  cursor: default;
}

#vMenu {
  display: block;
  height: 57px;
  list-style: none;
  left: 50%;
  margin-left: -480px;
  position: absolute;
  top: 130px;
  width: 960px;
  z-index: 1;
}

.leftme {
  display: inline-block;
  left: 0;
  position: absolute;
}

.rightme {
  display: inline-block;
  position: absolute;
  right: 0;
}

#vMenu a li {
  background-color: #292929;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  display: inline-block;
  height: 50px;
  line-height: 40px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  width: 114px;
  box-shadow: 0 0 6px rgba(0,0,0,.50);
  transition: all .20s ease-in-out;
  -webkit-transition: all .20s ease-in-out;
}

#vMenu a li:hover {
  background-color: rgba(23,23,23,.70);
  cursor: pointer;
}

#vMenu a li.selected {
  background-color: #171717;
}

#vMenu a li img {
  width: 40px;
  height: 40px;
}

.contentWrapper {
  background-color: #F2F2F2;
  border-radius: 11px;
  box-shadow: 0 0 7px rgba(0,0,0,.12);
  display: block;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  width: 880px;
  z-index: 2;
  margin-bottom: 25px;
}

.portfolioWrapper {
  padding-bottom: 25px;
}

.pageSplit {
  display: block;
  margin-bottom: 16px;
}

.blockQuote1 {
  background-color: #373B40;
  box-shadow: 0 0 5px rgba(0,0,0,.60);
  display: block;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.blockQuote1 span {
  color: #F0F0F0;
  font-size: 24px;
  font-style: italic;
  line-height: 50px;
  text-shadow: 0 0 7px #000000;
}

.aLeft {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 435px;
}

.aRight {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 435px;
}

.aLeft,
.aRight p {
  line-height: 28px;
  margin-bottom: 25px;
  text-align: justify;
}

.aLeft,
.aRight p:last-child {
  margin-bottom: 0;
}

.aLeft,
.aRight img {
  text-align: center;
}

.project {
  display: block;
  margin-top: 35px;
  position: relative;
}

.clearboth {
  clear: both;
  height: 25px;
}

.projectCircle {
  border-radius: 100px;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  margin-left: 50px;
  height: 140px;
  width: 140px;
  background: rgb(94,99,102);
  background: -moz-linear-gradient(top, rgba(94,99,102,1) 0%, rgba(116,121,125,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,99,102,1)), color-stop(100%,rgba(116,121,125,1)));
  background: -webkit-linear-gradient(top, rgba(94,99,102,1) 0%,rgba(116,121,125,1) 100%);
  background: -o-linear-gradient(top, rgba(94,99,102,1) 0%,rgba(116,121,125,1) 100%);
  background: -ms-linear-gradient(top, rgba(94,99,102,1) 0%,rgba(116,121,125,1) 100%);
  background: linear-gradient(to bottom, rgba(94,99,102,1) 0%,rgba(116,121,125,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#5e6366', endColorstr='#74797d',GradientType=0 );
  box-shadow: 0 0 2px rgba(0,0,0,.25);
}

.projectCir {
  display: inline-block;
  line-height: 100px;
  text-align: center;
  width: 140px;
}

.projectCir span {
  text-shadow: 1px 1px 0 #000000;
}

.projectNum {
  display: block;
  height: 28px;
}

.projectTitle {
  display: inline-block;
  line-height: 140px;
}

.projectDesc {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 600px;
  font-size: 16px;
}

.projectDesc span {
  display: block;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 14px;
}

.projectDescTitle {
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-weight: bold;
  padding-bottom: 10px;
}

#breaker {
  padding: 25px;
}

footer {
  bottom: 0;
  display: block;
  height: 30px;
  left: 0;
  margin-top: 25px;
  position: absolute;
  width: 100%;
}

.footerBlock {
  background-color: #171717;
  box-shadow: 0 0 5px rgba(0,0,0,.60);
  display: block;
  height: 30px;
  text-align: center;
  bottom: 0;
}

.footer {
  color: #969696;
  height: 30px;
  margin: 0 auto;
  text-align: left;
}

.footer span {
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.header-message {
  line-height: 0;
  text-align: center;
  cursor: default;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header-message:before {
  color: #000000;
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 10px;
  text-align: center;
  text-shadow: 0 0 3px rgba(255,255,255,.75);
  text-transform: uppercase;
  width: 100%;
  content: attr(data-message);
  padding-bottom: 34px;
  line-height: 100%;
}

.filler-message {
  text-align: center;
}

.filler-message:before {
  color: #000000;
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 156px;
  text-align: center;
  text-shadow: 0 0 3px rgba(255,255,255,.75);
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  content: attr(data-message);
}

.fader {
  transition: background 3s linear;
  -webkit-transition: background 3s linear;
  -moz-transition: background 3s linear;
}

.avatar {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(46,50,54)), color-stop(0.67, rgb(116,121,125)));
  background-image: -moz-linear-gradient(center bottom, rgb(46,50,54) 33%, rgb(116,121,125) 67%);
  border-radius: 20px;
  left: 130px;
  padding: 7px;
  box-shadow: 0 0 3px rgba(0,0,0,.60);
  position: absolute;
  top: 35px;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.avatar:hover.av_top {
  opacity: 0;
}

.noSelect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.totop {
  position: fixed;
  display: none;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  cursor: pointer;
  border-radius: 35px;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
  z-index: 99;
}

.totop:hover {
  background-color: rgba(0,0,0,.05);
}

.profile {
  width: 100%;
}

.tooltip {
  display: inline-block;
  transition: all .35s ease-in-out;
  background: linear-gradient(transparent 10%, rgba(51, 51, 51, .95)) no-repeat -1px;
  background-position: -1px 0;
  background-size: 1px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.tooltip:hover {
  text-shadow: 0 0 0 white;
  background-position: -1px 100%;
}

.tooltip:before {
  position: absolute;
  content: attr(data-tip);
  font-size: .75em;
  padding: 5px 15px;
  border-radius: 5px;
  pointer-events: none;
  color: transparent;
  background: inherit;
  background-size: 102% 90em;
  text-shadow: inherit;
}

.snippet {
  font-size: 13px;
  font-style: italic;
}

#testimonials {
  margin-bottom: 45px;
}

.testimonials {
  display: inline-block;
}

.testimonial {
  width: 60%;
  float: left;
  clear: both;
  padding-bottom: 15px;
  border: 1px solid rgba(0,0,0,.07);
  border-radius: 0 4px 4px 4px;
  box-sizing: border-box;
  margin-bottom: 14px;
  padding: 7px;
  position: relative;
}

/* .testimonial q {
  font-size: 13px;
  font-style: italic;
  quotes: "\00ab" "\00bb" "\2039" "\203A";
  word-wrap: break-word;
  color: rgba(0,0,0,.73);
} */

.testimonial quote {
  font-size: 13px;
  font-style: italic;
  word-wrap: break-word;
  color: rgba(0,0,0,.73);
}

.testimonial author {
  font-size: 13px;
  padding-left: 20px;
  background-color: #F2F2F2;
  border: 1px solid rgba(0,0,0,.07);
  border-bottom: none;
  box-sizing: border-box;
  padding: 7px;
  position: absolute;
  top: -33px;
}

.testimonial author:before {
  content: "\2014";
}

.testimonial:nth-of-type(2n) {
  float: right;
}

.testimonial,
.testimonial author {
  cursor: default;
  -webkit-transition:border-color 320ms, box-shadow: 320ms;
  transition: border-color 320ms, box-shadow 320ms;
}

.testimonial:nth-of-type(odd):hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,.03);
}

.testimonial:nth-of-type(even):hover {
  box-shadow: -3px 3px 3px rgba(0,0,0,.03);
}

.testimonial:nth-of-type(odd) author {
  left: -1px;
}

.testimonial:nth-of-type(odd):hover author {
  box-shadow: 3px 0 3px rgba(0,0,0,.03);
}

.testimonial:nth-of-type(even) author {
  right: -1px;
}

.testimonial:nth-of-type(even):hover author {
  box-shadow: -3px 0 3px rgba(0,0,0,.02);
}

.testimonial author:before {
  display: none;
}

.testimonial:last-of-type {
  margin-bottom: 0;
}

.testimonial:hover,
.testimonial:hover author {
  border: 1px solid rgba(0,0,0,.15);
}

.testimonial:hover author {
  border-bottom: none;
}

#posts {
  background-color: #F7F7F7;
  border: 1px solid rgba(0, 0, 0, .17);
  margin-left: 1%;
}

#posts h1 {
  font-size: 19px;
  opacity: .85;
}

#posts header {
  background-color: #EDEDED;
  border: 1px solid #D6D6D6;
  margin-left: -25px;
  margin-right: -15px;
  padding: 7px;
  position: relative;
}

#posts header:before {
  background-color: #D6D6D6;
  bottom: -18px;
  content: ' ';
  height: 20px;
  left: .7px;
  position: absolute;
  width: 40px;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#posts header:after {
  background-color: #D6D6D6;
  top: -8px;
  content: ' ';
  height: 18px;
  right: 3px;
  position: absolute;
  width: 18px;
  z-index: -1;
  transform: rotate(38deg);
}

#posts .snippet {
  display: inline-block;
  margin-top: 7px;
  padding-left: 45px;
  padding-right: 45px;
}

.button {
  border: 1px solid #D6D6D6;
  color: #9E9E9E;
  display: inline-block;
  font-size: 12px;
  padding: 11px;
  -webkit-transition: all 320ms;
  transition: all 320ms;
  text-align: center;
}

.button:hover {
  background-color: #EBEBEB;
  border: 1px solid transparent;
  color: #878787;
}

#posts .button {
  margin-left: 45px;
  margin-top: 12px;
}

#posts .meta span:not(:last-child):after {
  content: ' \2022 ';
}

.project div a.button {
  min-width: 80px;
}

hr {
  border: none;
}

.pagination {
  background-color: #F5F5F5;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  margin: 25px auto 0;
  padding: 5px;
  width: 250px;
}

.pagination a {
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0,0,0,.07);
  display: inline-block;
  font-size: 14px;
  padding: 4px;
  width: 15px;
  -webkit-transition: all 320ms;
  transition: all 320ms;
}

.pagination a.pag-current,
.pagination a:not([class$='disabled']):hover {
  background-color: #FAFAFA;
  border: 1px solid #B5B5B5;
  box-shadow: none;
  color: #2A92C9;
}

.pagination a.pag-current:hover {
  color: #3AACE8;
}

.pagination a[class^='pag-next'],
.pagination a[class^='pag-prev'] {
  width: 30px;
}

.pagination a[class$='-disabled'] {
  color: #D1D1D1;
}
@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  /* Constrain the splitter and the entire content area to the new width */
  .page-content,
  .pageSplit {
    width: 100vw;
  }

  /* Navigation menu */
  #vMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 10px;
    margin: 30px 0 0;
    width: 100%;
  }

  /* Item containers */
  #vMenu .leftme,
  #vMenu .rightme {
    display: inline-block;
    float: none;
    position: unset;
  }

  /* Right side fix alignment */
  #vMenu .rightme {
    margin-right: 18px;
  }
  /* Items */
  #vMenu a li {
    height: 32px;
    line-height: 25px;
    width: 70px;
  }

  /* Social images */
  #vMenu a li img {
    height: 24px;
    width: auto;
  }

  /* Content presentation container */
  .contentWrapper {
    margin: 10px;
    width: calc(100% - 115px);
  }

  /* Convert profile area to flex */
  .wrap > .contentWrapper:first-of-type {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Make profile photo and bio occupy full shared width */
  .wrap > .contentWrapper:first-of-type .aLeft,
  .wrap > .contentWrapper:first-of-type .aRight {
    flex: 1;
    position: relative;
  }

  /* Make avatar parent occupy enough real estate to shift
             on flex
          */
  .wrap > .contentWrapper:first-of-type .aLeft {
    height: 194px;
    min-width: 194px;
    width: 194px;
  }

  /* Shift avatar to correct y-axis positioning */
  .wrap > .contentWrapper:first-of-type .avatar {
    left: calc(50% - 97px);
    top: 0;
  }
  /* Profile table */
  .profile tr > td:last-of-type {
    padding-left: 10px;
  }
}

/* Portfolio display shift */
@media screen and (max-width: 904px) {
  /* Screenshot */
  .projectCircle {
    margin: 25px 0 45px calc(50% - 70px);
  }

  /* Increase the size of the circle */
  .projectCir {
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    transform: scale(1.5);
  }

  /* Reposition description container to center */
  .projectDesc {
    float: unset;
    width: 100%;
  }

  /* Align text to center */
  .project {
    text-align: center;
  }

  /* Fix testimonials */
  .testimonial {
    display: block;
    float: none !important;
    margin: 65px auto;
    width: 90%;
  }

  /* Remove first object margin */
  .testimonial:first-of-type {
    margin-top: 0;
  }

  /* Author and rating box reposition */
  .testimonial author {
    font-size: 15px;
    left: 0;
    right: -1px;
    text-align: center;
  }

  /* Fix every 2nd type */
  .testimonial:nth-of-type(2n) author {
    left: -1px;
  }
}
/* Collapse menu to mobile */
@media screen and (max-width: 685px) {
  #vMenu {
    left: 0;
    margin: 0;
    top: 0;
    width: 50px;
    z-index: 10;
  }

  /* Dropdown */
  #vMenu a li {
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-radius: 0;
    box-shadow: none;
    line-height: 30px;
    margin-bottom: 0;
    padding: 18px 29px;
  }

  /* Hide dropdown on intial display */
  #vMenu .leftme,
  #vMenu .rightme {
    display: none;
  }

  /* Hamburger icon */
  #vMenu:before {
    align-items: center;
    background-color: #292929;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    color: #FFFFFF;
    content: '☰';
    display: flex;
    height: 38px;
    justify-content: center;
    line-height: 20px;
    margin: 5px;
    width: 38px;
  }

  /* Hover */
  #vMenu:hover {
    cursor: pointer;
  }

  /* Hamburger effects */
  #vMenu:hover:before {
    background-color: rgba(255,255,255,.8);
    color: rgba(0,0,0,.7);
  }

  /* Show dropdown on hover */
  #vMenu:hover .leftme,
  #vMenu:hover .rightme {
    display: block;
  }

  /* Enlarge social images */
  #vMenu a li img {
    height: 44px;
    margin-top: -5px;
    width: auto;
  }
}
