---
layout: default
title: 404 - Page Not Found
permalink: "/404.html"
sitemap:
  exclude: 'yes'
---

<style>
.eye {
   font-size: 5px !important;
}
</style>
<div class="contentWrapper" align="center">
<pre>
    ..::::::::.
   .:::::::::::::
  /<span class="eye">o</span> `:::::::::::
 o__,_:::::::::'
.---------------.
|      404      |
| .-----------. |
| |           | |
|_|           |_|
</pre>
</div>
<script>
setInterval(function() {
    [].forEach.call(document.querySelectorAll(".eye"),function (elm) {
        elm.textContent = "-";
        setTimeout(function() { elm.textContent = "o"; },100);
    });
},4000);
</script>
