---
layout: default
---

<div class="contentWrapper">
	<div class="aLeft">
             <img class="avatar av_bottom" src="{{ site.logo }}" alt="Avatar" />
             <img class="avatar av_top" src="{{ site.author_logo }}" alt="Avatar" />
	</div>
	<div class="aRight">
		<h2>Hello, I'm {{ site.myname }}</h2>
                <table class="profile">
                {% for data in site.data.profile %}
                  </tr>
                    <td>{{ data.name }}:</td><td>{{ data.value }}</td>
                  <tr>
                {% endfor %}
                </table>
	</div>
</div>
<div class="blockQuote1 noSelect">
	<span>"{{ site.quote }}"</span>
</div>

<div class="contentWrapper">
        <a href="#latestblog"><h1 id="latestblog" class="header-message" data-message="Latest Blog Post"></h1></a>
        <ul id="posts">

          <header class="list-header">
            <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            <p class="meta">
              <span class="date">February 19th, 2019</span>
              <span class="author">Louis T.</span>
              <span class="submeta">Under construction!</span>
            </p>
          </header>
          <span class="snippet">My blog/website is currently being redone; not that I've posted much so far anyway. This is in an attempt to implement a better way to post images/videos about current hobbies and interests. Check back eventually!</span>
          <hr />
          <br />

          <!-- {% assign post = site.posts.first %}
          <header class="list-header">
            <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            <p class="meta">
              <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
              {% if post.author %} <span class="author">{{ post.author }}</span>{% endif %}
              {% if post.meta %} <span class="submeta">{{ post.meta }}</span>{% endif %}
              <span class="ccount"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}#disqus_thread">? Comments</a></span>
            </p>
          </header>
          <span class="snippet">{{ post.content | strip_html | truncatewords: 50 }}</span>
          <a class="button" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
          <hr />
          <br /> -->
        </ul>
</div>

<div class="contentWrapper">
	<a href="#portfolio"><h1 id="portfolio" class="header-message" data-message="My Portfolio"></h1></a>
        {% for project in site.data.projects %}
	<div class="project {{ project.title }}">
		<div class="projectCircle noSelect">
			<div class="projectCir">
				<span class="projectTitle" id="{{ project.permalink }}">{{ project.title }}</span>
			</div>
		</div>
		<div class="projectDesc">
			<span class="projectDescTitle">{{ project.description }}</span>
			<span>
                           {{ project.content }}
			</span>
                        {% if project.demo %}
                           <a href="{{ project.demo }}" target="_blank" class="button">Demo</a>
                        {% endif %}
			<a href="{{ project.url }}" target="_blank" class="button">{% if project.url_title %}{{ project.url_title }}{% else %}Visit{% endif %}</a>
                        {% if project.about %}
                           <a href="{{ project.about }}" target="_blank" class="button">About</a>
                        {% endif %}
                        {% if project.source %}
                           <a href="{{ project.source.url }}" target="_blank" class="button">{{ project.source.title }}</a>
                        {% endif %}
                        <a href="{{ site.baseurl }}/#{{ project.permalink }}" class="button">Permalink</a>
		</div>
	</div>
	<div class="clearboth"></div>
        {% endfor %}
</div>
<div class="contentWrapper">
        <a href="#testimonials"><h1 id="testimonials" class="spacer header-message" data-message="testimonials"></h1></a>
        <div class="testimonials">
        {% for testimonials in site.data.testimonials %}
          <span class="testimonial">
            <quote>"{{ testimonials.text }}"</quote>
            <author>{{ testimonials.name }} ({{ testimonials.date }}) - {{ testimonials.stars }}</author>
          </span>
        {% endfor %}
        </div>
</div>
<div id="breaker"></div>
