---
layout: default
---

<div class="contentWrapper">
    <h1 class="header-message" data-message="Contact Me"></h1>
    <table class="profile">
    {% for contact in site.data.contact %}
      </tr>
        <td>{{ contact.title }}:</td><td>{{ contact.output }}</td>
      <tr>
    {% endfor %}
    </table>
    <br />
    {% kiwiirc_widget %}
</div>
<div id="breaker"></div>
