<footer>
        <div class="footerBlock">
                <div class="footer">
                        <span>Copyright &copy; {{ "now" | date: "%Y" }} <a href="mailto:{{ site.email }}">{{ site.myname }}</a> | <a href="{{ "/sitemap.xml" | prepend: site.baseurl }}" target="_blank">Site Map</a> - <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></span>
                </div>
        </div>
</footer>
{% if site.disqus_shortname %}
 <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
{% endif %}
