<head>
    <!-- {% render_time Page generated at: %} -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

{% seo %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?t={{site.time | date: '%s%N'}}">
    <link rel="stylesheet" href="{{ "/css/post-and-highlight.css" | prepend: site.baseurl }}?t={{site.time | date: '%s%N'}}">
    <link rel="stylesheet" href="{{ "/css/projects.css" | prepend: site.baseurl }}?t={{site.time | date: '%s%N'}}">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

    <!-- Custom JavaScript -->
    <!-- <script src="{{ "/js/totop.js" | prepend: site.baseurl }}"></script> -->
</head>
