<span id="top"></span>
<img src="{{ site.baseurl }}/images/arrow.svg" id="totop" class="totop" onclick="toTop()" />
<div id="ltCircle">
	<span class="noSelect">{{ site.myname }}</span>
</div>
<div class="pageSplit">
	<ul id="vMenu">
		<div class="leftme">

{% for link in site.data.navigation.left %}
<a href="{{ link.url | prepend: site.baseurl }}" title="{{link.title}}">
  <li {% if page.url == link.endpoint or page.url == link.url %}class="selected"{% endif %}>
     {{ link.text }}
  </li>
</a>
{% endfor %}

		</div>
		<div class="rightme">

{% for link in site.data.navigation.right %}
<a href="{{ link.url }}" target="_blank" class="tooltip" data-tip="{% if link.text %}{{ link.text }}{% else %}UNKOWN{% endif %}">
   <li><img src="{{ link.icon | prepend: site.baseurl }}" /></li>
</a>
{% endfor %}


		</div>
	</ul>
</div>
