---
layout: default
pagination: 
  enabled: true
---

<div class="contentWrapper">
  <h1 class="header-message" data-message="Under construction!"></h1>
  <!-- <h1 class="header-message" data-message="{{ site.blog.title }}"></h1> -->
  <!-- <ul id="posts">
    {% for post in paginator.posts %}
      <header class="list-header">
        <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p class="meta">
          <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
          {% if post.author %} <span class="author">{{ post.author }}</span>{% endif %}
          {% if post.meta %} <span class="submeta">{{ post.meta }}</span>{% endif %}
          <span class="ccount"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}#disqus_thread">? Comments</a></span>
        </p>
      </header>
      <span class="snippet">{{ post.content | strip_html | truncatewords: 50 }}</span>
      <a class="button" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
      <hr />
      <br />
    {% endfor %}
  </ul>
  {% if paginator.total_pages > 1 %}
  <div class="pagination" align="center">
    {% if paginator.previous_page_path %}
      <a class="pag-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo;</a>
    {% else %}
      <a class="pag-prev-disabled">&laquo;</a>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <a class="pag-current">{{ page }}</a>
      {% elsif page == 1 %}
        <a class="pag-num" href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a class="pag-num" href="/blog{{ site.pagination.permalink | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <a class="pag-next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">&raquo;</a>
    {% else %}
      <a class="pag-next-disabled">&raquo;</a>
    {% endif %}
  </div>
  {% endif %} -->
</div>
<div id="breaker"></div>
