---
layout: default
---

<div class="contentWrapper">
 <div class="post">
  <header class="post-header">
    <h3>{{ page.title }}</h3>
    <p class="meta">
      <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
      {% if page.author %}<span class="author">{{ page.author }}</span>{% endif %}
      {% if page.meta %}<span class="submeta">{{ page.meta }}</span>{% endif %}
      {% if page.short %}<span class="shorturl">Short URL: <a href="{{ page.short.url }}" target="_blank">{{ page.short.hash }}</a></span>{% endif %}
    </p>
    <p class="meta">This post will take approximately {{ content | strip_html | reading_time }} to read.</p>
  </header>
  <article class="post-content">
  {{ content }}
  </article>
  {% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script>
     var disqus_config = function () {
         this.page.url = "{{ site.url }}{{ page.url }}";
         this.page.identifier = "{{ page.date | date: "%s" }}";
     };
     (function() {
         var dsq = document.createElement('script');
         dsq.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
         dsq.setAttribute('data-timestamp', +new Date());
         (document.head || document.body).appendChild(dsq);
     })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
 </div>
</div>
<div id="breaker"></div>
